<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>얼굴나이 대결</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer_div.css" %}">

</head>

<body background="{% static "images/adult-2028245.png" %}">
<div>
    <br>
    <div class="jumbotron" role="main" align="center" style="background-color:black; color:whitesmoke">
        <h1>얼굴나이 측정</h1>
    </div>
    <br><br>
    <div align="center">
        <a href='../mode_select' class="btn btn-lg btn-success">
        <h1>시작하기</h1>
    </a>
    </div>

    <br>
    <!-- 메인화면 => 모드선택메뉴-->
</div>



<div class="footer" align="right">
        <h3><p>Developed by Gnuvill<br>(팀원 : 노아론 이지은 임우영 장수경 전승현 홍찬혁 허승은)</p>
        </h3>
</div>
</body>


</html>