<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face_Battle Home</title>

    <style>
        #twink {
            float:right;
            list-style-type:none;
        }

        #hovv:hover {
            background-color: yellowgreen;
        }

    </style>
</head>
<body>

<span>
    <h1>
    얼굴측정 대결 플랫폼 메인화면
    </h1>
</span>

<div id="twink">
    <ul>
        <li><a id="hovv">메뉴 1</a></li>
        <li><a id="hovv">메뉴 2</a></li>
        <li><a id="hovv">메뉴 3</a></li>
    </ul>
</div>

</body>
</html>