<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>얼굴나이 대결</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<hr>
<body>
<div class="container">
    <br>
    <div class="jumbotron" role="main">
    <h1 align="center"> 얼굴 나이 대결<br>플랫폼 </h1>
    </div>
    <br><br>
    <div align="center">
        <a href='../mode_select' class="btn btn-lg btn-success">
        <h1>시작하기</h1>
    </a>
    </div>

    <br>
    <!-- 메인화면 => 모드선택메뉴-->
</div>

<hr>

</body>

<foot>
    <div class="inner" align="right">
        <p>Developed by Gnuvill<br>(팀원 : 노아론 이지은 임우영 장수경 전승현 홍찬혁 허승은)</p>
    </div>
</foot>
</html>