<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>모드를 선택하세요</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer_div.css" %}">
</head>
<body background="{% static "images/adult-2028245.png" %}">
<div>
    <br>
    <div class="jumbotron" role="main" align="center" style="background-color:black; color:whitesmoke">
        <h1>모드를 선택하세요!</h1>
    </div>
    <br><br>
    <div align="center">
        <a href='../single_mode' class="btn btn-lg btn-success">
        <h1>1인용</h1>
    </a>
    </div>
    <div align="center">
       <a href='../dual_mode' class="btn btn-lg btn-success">
       <h1>2인용</h1>
    </a>
    </div>

    <br>
    <!-- 모드선택메뉴 => 1인용 2인용 선떄꾸 -->
</div>



<div class="footer" align="right">
        <h3><p>Developed by Gnuvill<br>(팀원 : 노아론 이지은 임우영 장수경 전승현 홍찬혁 허승은)</p>
        </h3>
</div>
</body>


</html>
